.containerPresentation {
    height: auto;
    text-align: center;
    padding-top: 0.5em;
    margin-bottom: 2em;
        h3 {
            color: #004F7B;
        }
}

.containerPresent {
    display: flex;
}

.presentationText {
    margin-left: 10em;
}

.qsn {
    width: 70%;
    border-radius: 15px;
}